---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Jubilee Money Advice</title>
  <link rel='shortcut icon' href='{{site.root_dir}}/images/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='{{site.root_dir}}/fonts/open-sans.css'>
  <link rel='stylesheet' href='{{site.root_dir}}/app.css'>
</head>
<body>
  <div id='container'>
    <div id='main'>{{content}}</div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      Part of <a href="http://jubileechurchcoventry.org">Jubilee Church Coventry</a>
    </div>
  </div>
</body>
</html>
